<!doctype html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Request an invitation to the {{ slack_friendly_name }} Slack team</title>
    </head>
    <body>
        <h1>Join {{ slack_friendly_name }} on Slack</h1>
        <form action="invite">
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email">
            <input type="submit" value="Request an invitation">
        </form>
    </body>
</html>
