<!doctype html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Join {{ team_name }} on Slack</title>
        <style type="text/css">
            form {
                width: 400px;
                margin: auto;
                text-align: center;
            }
            .button {
                margin-top: 10px;
                width: 250px;
            }
            .textbox {
                width: 250px;
            }
        </style>
    </head>
    <body>
        <form action="invite" method="post">
            <img src="{{ team_icon }}">
            <h1>Join {{ team_name }} on Slack</h1>
            <input type="email" id="email" name="email" placeholder="email@example.com" autofocus class="textbox"><br>
            <input type="submit" value="Request an invitation" class="button">
        </form>
    </body>
</html>
